@model WCFContracts.DataContracts.OrderData
@{
    ViewBag.Title = "Оформление заказа";
}

<h2>Пожалуйста, введите информацию</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <h3>Сумма:</h3>
    <div>@Html.EditorFor(st => st.SubTotal, new { @Value = ViewBag.value })</div>
    <h3>Страна:</h3>
    <div>@Html.DropDownListFor(model => model.TerritoryID, ViewBag.terra as SelectList)</div>
    <div>@Html.EditorFor(s => s.Status, new { @Value = "3" })</div>
    <div>@Html.EditorFor(ei => ei.EmployeeID, new { @Value = "265" })</div>
    <div>@Html.EditorFor(ei => ei.ModifiedDate, new { @Value = DateTime.Now })</div>
    <div>@Html.EditorFor(ei => ei.OrderProducts, new { @Value = ViewBag.cl })</div>
    <h3>Options</h3>
    <p align="center">
        <input class="actionButtons" type="submit" value="Оформить заказ" />
    </p>
}
