@model Shop.Models.ProductDetailViewModel
@{
    ViewBag.Title = "ProductDetails";
}

<h2>@Model.Product.Name</h2>

<p>@Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Product.LargePhoto) + "\" />")</p>
<p>Цена: @Model.Product.StandardCost</p>
<p>Цвет: @Model.Product.Color</p>
<p>Размер: @Model.Product.Size</p>
<p>Вес: @Model.Product.Weight</p>
<p>Стиль: @Model.Product.Style</p>
<p>Описание: @Model.Product.Description</p>
@using (Html.BeginForm("AddToCart", "Cart"))
{
    <input id="ProductID" name="ProductID" type="hidden" value=@Model.Product.ProductID />
    <input class="myButton" type="submit" value="Добавить в корзину" />
}